<form>
  <div class="row">
    <div class="col-3">
      <label for="ingredientName" class="form-label">Name</label>
      <input type="text" class="form-control" id="ingredientName">
    </div>
    <div class="col-2">
      <label for="ingredientAmount" class="form-label">Amount</label>
      <input type="number" class="form-control" id="ingredientAmount">
    </div>
    <div class="col-7 d-flex align-items-end">
      <button class="btn btn-success" style="width: 100px;">Add</button>
      <button class="btn btn-danger mx-3" style="width: 100px;">Delete</button>
      <button class="btn btn-secondary" style="width: 100px;">Clear</button>
    </div>
  </div>
</form>